USE [Clase]
GO
/****** Object:  Table [dbo].[CARRERA]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARRERA](
	[ID_CARRERA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CARRERA] [varchar](50) NULL,
 CONSTRAINT [PK_CARRERA] PRIMARY KEY NONCLUSTERED 
(
	[ID_CARRERA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CARRERA] ON
INSERT [dbo].[CARRERA] ([ID_CARRERA], [NOMBRE_CARRERA]) VALUES (1, N'Derecho')
INSERT [dbo].[CARRERA] ([ID_CARRERA], [NOMBRE_CARRERA]) VALUES (2, N'Medicina')
INSERT [dbo].[CARRERA] ([ID_CARRERA], [NOMBRE_CARRERA]) VALUES (3, N'Teatro')
SET IDENTITY_INSERT [dbo].[CARRERA] OFF
/****** Object:  Table [dbo].[ESTADO_CLASE]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO_CLASE](
	[ID_ESTADO] [int] NOT NULL,
	[NOMBRE_ESTADO] [varchar](25) NULL,
 CONSTRAINT [PK_ESTADO_CLASE] PRIMARY KEY NONCLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ESTADO_CLASE] ([ID_ESTADO], [NOMBRE_ESTADO]) VALUES (1, N'Realizada')
INSERT [dbo].[ESTADO_CLASE] ([ID_ESTADO], [NOMBRE_ESTADO]) VALUES (2, N'No Realizada')
/****** Object:  Table [dbo].[RAMO]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RAMO](
	[ID_RAMO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_RAMO] [varchar](50) NULL,
 CONSTRAINT [PK_RAMO] PRIMARY KEY NONCLUSTERED 
(
	[ID_RAMO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RAMO] ON
INSERT [dbo].[RAMO] ([ID_RAMO], [NOMBRE_RAMO]) VALUES (1, N'Derecho Romano')
INSERT [dbo].[RAMO] ([ID_RAMO], [NOMBRE_RAMO]) VALUES (2, N'Derecho Civil')
INSERT [dbo].[RAMO] ([ID_RAMO], [NOMBRE_RAMO]) VALUES (3, N'Fisiología')
SET IDENTITY_INSERT [dbo].[RAMO] OFF
/****** Object:  Table [dbo].[PROFESOR]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFESOR](
	[ID_PROFESOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PROFESOR] [varchar](25) NULL,
	[AP_PROFESOR] [varchar](25) NULL,
 CONSTRAINT [PK_PROFESOR] PRIMARY KEY NONCLUSTERED 
(
	[ID_PROFESOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PROFESOR] ON
INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [NOMBRE_PROFESOR], [AP_PROFESOR]) VALUES (1, N'Daniel', N'Ramirez')
INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [NOMBRE_PROFESOR], [AP_PROFESOR]) VALUES (2, N'Jose', N'Perez')
INSERT [dbo].[PROFESOR] ([ID_PROFESOR], [NOMBRE_PROFESOR], [AP_PROFESOR]) VALUES (3, N'Pedro', N'Gonzalez')
SET IDENTITY_INSERT [dbo].[PROFESOR] OFF
/****** Object:  Table [dbo].[MODULO]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO](
	[ID_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_MODULO] [int] NULL,
	[HORARIO] [time](7) NULL,
 CONSTRAINT [PK_MODULO] PRIMARY KEY NONCLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MODULO] ON
INSERT [dbo].[MODULO] ([ID_MODULO], [NOMBRE_MODULO], [HORARIO]) VALUES (1, 1, CAST(0x070040230E430000 AS Time))
INSERT [dbo].[MODULO] ([ID_MODULO], [NOMBRE_MODULO], [HORARIO]) VALUES (2, 2, CAST(0x070010ACD1530000 AS Time))
INSERT [dbo].[MODULO] ([ID_MODULO], [NOMBRE_MODULO], [HORARIO]) VALUES (3, 3, CAST(0x0700E03495640000 AS Time))
SET IDENTITY_INSERT [dbo].[MODULO] OFF
/****** Object:  Table [dbo].[SECCION]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECCION](
	[ID_SECCION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SECCION] [varchar](25) NULL,
 CONSTRAINT [PK_SECCION] PRIMARY KEY NONCLUSTERED 
(
	[ID_SECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SECCION] ON
INSERT [dbo].[SECCION] ([ID_SECCION], [NOMBRE_SECCION]) VALUES (1, N'1000')
INSERT [dbo].[SECCION] ([ID_SECCION], [NOMBRE_SECCION]) VALUES (2, N'2000')
INSERT [dbo].[SECCION] ([ID_SECCION], [NOMBRE_SECCION]) VALUES (3, N'3000')
SET IDENTITY_INSERT [dbo].[SECCION] OFF
/****** Object:  Table [dbo].[SALA]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALA](
	[ID_SALA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_SALA] [varchar](25) NULL,
 CONSTRAINT [PK_SALA] PRIMARY KEY NONCLUSTERED 
(
	[ID_SALA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SALA] ON
INSERT [dbo].[SALA] ([ID_SALA], [NOMBRE_SALA]) VALUES (1, N'001')
INSERT [dbo].[SALA] ([ID_SALA], [NOMBRE_SALA]) VALUES (2, N'002')
INSERT [dbo].[SALA] ([ID_SALA], [NOMBRE_SALA]) VALUES (3, N'003')
SET IDENTITY_INSERT [dbo].[SALA] OFF
/****** Object:  Table [dbo].[CARRERA_RAMO]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERA_RAMO](
	[ID_RAMO] [int] NULL,
	[ID_CARRERA] [int] NULL,
	[ID_CARRERA_RAMO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CARRERA_RAMO] PRIMARY KEY NONCLUSTERED 
(
	[ID_CARRERA_RAMO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CARRERA_RAMO_FK] ON [dbo].[CARRERA_RAMO] 
(
	[ID_RAMO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CARRERA_RAMO2_FK] ON [dbo].[CARRERA_RAMO] 
(
	[ID_CARRERA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARRERA_RAMO] ON
INSERT [dbo].[CARRERA_RAMO] ([ID_RAMO], [ID_CARRERA], [ID_CARRERA_RAMO]) VALUES (1, 1, 1)
INSERT [dbo].[CARRERA_RAMO] ([ID_RAMO], [ID_CARRERA], [ID_CARRERA_RAMO]) VALUES (2, 1, 2)
INSERT [dbo].[CARRERA_RAMO] ([ID_RAMO], [ID_CARRERA], [ID_CARRERA_RAMO]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[CARRERA_RAMO] OFF
/****** Object:  Table [dbo].[RAMO_SECCION]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAMO_SECCION](
	[ID_SECCION] [int] NULL,
	[ID_RAMO] [int] NULL,
	[ID_SECCION_RAMO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_RAMO_SECCION] PRIMARY KEY NONCLUSTERED 
(
	[ID_SECCION_RAMO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RAMO_SECCION_FK] ON [dbo].[RAMO_SECCION] 
(
	[ID_SECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RAMO_SECCION2_FK] ON [dbo].[RAMO_SECCION] 
(
	[ID_RAMO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RAMO_SECCION] ON
INSERT [dbo].[RAMO_SECCION] ([ID_SECCION], [ID_RAMO], [ID_SECCION_RAMO]) VALUES (1, 1, 1)
INSERT [dbo].[RAMO_SECCION] ([ID_SECCION], [ID_RAMO], [ID_SECCION_RAMO]) VALUES (1, 2, 2)
INSERT [dbo].[RAMO_SECCION] ([ID_SECCION], [ID_RAMO], [ID_SECCION_RAMO]) VALUES (2, 3, 3)
SET IDENTITY_INSERT [dbo].[RAMO_SECCION] OFF
/****** Object:  Table [dbo].[RAMO_PROFESOR]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAMO_PROFESOR](
	[ID_PROFESOR] [int] NULL,
	[ID_RAMO] [int] NULL,
	[ID_RAMO_PROFE] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_RAMO_POFESOR] PRIMARY KEY NONCLUSTERED 
(
	[ID_RAMO_PROFE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RAMO_POFESOR_FK] ON [dbo].[RAMO_PROFESOR] 
(
	[ID_PROFESOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RAMO_POFESOR2_FK] ON [dbo].[RAMO_PROFESOR] 
(
	[ID_RAMO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RAMO_PROFESOR] ON
INSERT [dbo].[RAMO_PROFESOR] ([ID_PROFESOR], [ID_RAMO], [ID_RAMO_PROFE]) VALUES (1, 1, 1)
INSERT [dbo].[RAMO_PROFESOR] ([ID_PROFESOR], [ID_RAMO], [ID_RAMO_PROFE]) VALUES (2, 2, 2)
INSERT [dbo].[RAMO_PROFESOR] ([ID_PROFESOR], [ID_RAMO], [ID_RAMO_PROFE]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[RAMO_PROFESOR] OFF
/****** Object:  Table [dbo].[SECCION_PROFESOR]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECCION_PROFESOR](
	[ID_PROFESOR] [int] NULL,
	[ID_SECCION] [int] NULL,
	[ID_PROFE_SECCION] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SECCION_PROFESOR] PRIMARY KEY NONCLUSTERED 
(
	[ID_PROFE_SECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SECCION_PROFESOR_FK] ON [dbo].[SECCION_PROFESOR] 
(
	[ID_PROFESOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SECCION_PROFESOR2_FK] ON [dbo].[SECCION_PROFESOR] 
(
	[ID_SECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SECCION_PROFESOR] ON
INSERT [dbo].[SECCION_PROFESOR] ([ID_PROFESOR], [ID_SECCION], [ID_PROFE_SECCION]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[SECCION_PROFESOR] OFF
/****** Object:  Table [dbo].[SECCION_MODULO]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECCION_MODULO](
	[ID_MODULO] [int] NULL,
	[ID_SECCION] [int] NULL,
	[ID_MODULO_SECCION] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SECCION_MODULO] PRIMARY KEY NONCLUSTERED 
(
	[ID_MODULO_SECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SECCION_MODULO_FK] ON [dbo].[SECCION_MODULO] 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SECCION_MODULO2_FK] ON [dbo].[SECCION_MODULO] 
(
	[ID_SECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SECCION_MODULO] ON
INSERT [dbo].[SECCION_MODULO] ([ID_MODULO], [ID_SECCION], [ID_MODULO_SECCION]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[SECCION_MODULO] OFF
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[ID_ALUMNO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARRERA] [int] NULL,
	[ID_SECCION] [int] NULL,
	[NOMBRE_ALUMNO] [varchar](25) NULL,
	[AP_ALUMNO] [varchar](25) NULL,
 CONSTRAINT [PK_ALUMNO] PRIMARY KEY NONCLUSTERED 
(
	[ID_ALUMNO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CARRERA_ALUMNO_FK] ON [dbo].[ALUMNO] 
(
	[ID_CARRERA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [SECCION_ALUMNO_FK] ON [dbo].[ALUMNO] 
(
	[ID_SECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNO] ON
INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [ID_CARRERA], [ID_SECCION], [NOMBRE_ALUMNO], [AP_ALUMNO]) VALUES (1, 1, 1, N'Jose', N'Fernandez')
INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [ID_CARRERA], [ID_SECCION], [NOMBRE_ALUMNO], [AP_ALUMNO]) VALUES (2, 2, 2, N'Pedro', N'Gimenez')
INSERT [dbo].[ALUMNO] ([ID_ALUMNO], [ID_CARRERA], [ID_SECCION], [NOMBRE_ALUMNO], [AP_ALUMNO]) VALUES (3, 3, 3, N'Daniel', N'Rodrigues')
SET IDENTITY_INSERT [dbo].[ALUMNO] OFF
/****** Object:  Table [dbo].[MODULO_SALA]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO_SALA](
	[ID_SALA] [int] NULL,
	[ID_MODULO] [int] NULL,
	[ID_MODULO_SALA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MODULO_SALA] PRIMARY KEY NONCLUSTERED 
(
	[ID_MODULO_SALA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MODULO_SALA_FK] ON [dbo].[MODULO_SALA] 
(
	[ID_SALA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MODULO_SALA2_FK] ON [dbo].[MODULO_SALA] 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MODULO_SALA] ON
INSERT [dbo].[MODULO_SALA] ([ID_SALA], [ID_MODULO], [ID_MODULO_SALA]) VALUES (1, 1, 1)
INSERT [dbo].[MODULO_SALA] ([ID_SALA], [ID_MODULO], [ID_MODULO_SALA]) VALUES (1, 2, 2)
INSERT [dbo].[MODULO_SALA] ([ID_SALA], [ID_MODULO], [ID_MODULO_SALA]) VALUES (1, 3, 3)
SET IDENTITY_INSERT [dbo].[MODULO_SALA] OFF
/****** Object:  Table [dbo].[CLASE]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLASE](
	[ID_CLASE] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARRERA] [int] NULL,
	[ID_RAMO_PROFE] [int] NULL,
	[ID_MODULO_SALA] [int] NULL,
	[ESTADO_PROFESOR] [varchar](25) NULL,
	[FECHA_CLASE] [date] NULL,
 CONSTRAINT [PK_CLASE] PRIMARY KEY NONCLUSTERED 
(
	[ID_CLASE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CARRERA_CLASE_FK] ON [dbo].[CLASE] 
(
	[ID_CARRERA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MODULOSALA_CLASE_FK] ON [dbo].[CLASE] 
(
	[ID_MODULO_SALA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RAMOPROFESOR_CLASE_FK] ON [dbo].[CLASE] 
(
	[ID_RAMO_PROFE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLASE] ON
INSERT [dbo].[CLASE] ([ID_CLASE], [ID_CARRERA], [ID_RAMO_PROFE], [ID_MODULO_SALA], [ESTADO_PROFESOR], [FECHA_CLASE]) VALUES (1, 1, 1, 1, N'1', CAST(0xD43C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[CLASE] OFF
/****** Object:  Table [dbo].[HISTORIAL_CURSO]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_CURSO](
	[ID_HISTORIAL] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLASE] [int] NULL,
	[ID_ESTADO] [int] NULL,
	[NUMERO_CLASE] [int] NULL,
 CONSTRAINT [PK_HISTORIAL_CURSO] PRIMARY KEY NONCLUSTERED 
(
	[ID_HISTORIAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CLASE_HISTORIAL_FK] ON [dbo].[HISTORIAL_CURSO] 
(
	[ID_CLASE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ECLASE_HISTORIAL_FK] ON [dbo].[HISTORIAL_CURSO] 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HISTORIAL_CURSO] ON
INSERT [dbo].[HISTORIAL_CURSO] ([ID_HISTORIAL], [ID_CLASE], [ID_ESTADO], [NUMERO_CLASE]) VALUES (1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[HISTORIAL_CURSO] OFF
/****** Object:  Table [dbo].[ALUMNO_CLASE]    Script Date: 06/08/2017 02:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO_CLASE](
	[ID_ALUMNO] [int] NULL,
	[ID_CLASE] [int] NULL,
	[ESTADO_ALUMNO] [bit] NULL,
	[ID_ALUMNO_CLASE] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ALUMNO_CLASE] PRIMARY KEY NONCLUSTERED 
(
	[ID_ALUMNO_CLASE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ALUMNO_CLASE_FK] ON [dbo].[ALUMNO_CLASE] 
(
	[ID_CLASE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ALUMNO_CLASE2_FK] ON [dbo].[ALUMNO_CLASE] 
(
	[ID_ALUMNO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNO_CLASE] ON
INSERT [dbo].[ALUMNO_CLASE] ([ID_ALUMNO], [ID_CLASE], [ESTADO_ALUMNO], [ID_ALUMNO_CLASE]) VALUES (1, 1, 1, 4)
SET IDENTITY_INSERT [dbo].[ALUMNO_CLASE] OFF
/****** Object:  ForeignKey [FK_ALUMNO_CARRERA_A_CARRERA]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNO_CARRERA_A_CARRERA] FOREIGN KEY([ID_CARRERA])
REFERENCES [dbo].[CARRERA] ([ID_CARRERA])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [FK_ALUMNO_CARRERA_A_CARRERA]
GO
/****** Object:  ForeignKey [FK_ALUMNO_SECCION_A_SECCION]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNO_SECCION_A_SECCION] FOREIGN KEY([ID_SECCION])
REFERENCES [dbo].[SECCION] ([ID_SECCION])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [FK_ALUMNO_SECCION_A_SECCION]
GO
/****** Object:  ForeignKey [FK_ALUMNO_C_ALUMNO_CL_ALUMNO]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[ALUMNO_CLASE]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNO_C_ALUMNO_CL_ALUMNO] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[ALUMNO] ([ID_ALUMNO])
GO
ALTER TABLE [dbo].[ALUMNO_CLASE] CHECK CONSTRAINT [FK_ALUMNO_C_ALUMNO_CL_ALUMNO]
GO
/****** Object:  ForeignKey [FK_ALUMNO_C_ALUMNO_CL_CLASE]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[ALUMNO_CLASE]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNO_C_ALUMNO_CL_CLASE] FOREIGN KEY([ID_CLASE])
REFERENCES [dbo].[CLASE] ([ID_CLASE])
GO
ALTER TABLE [dbo].[ALUMNO_CLASE] CHECK CONSTRAINT [FK_ALUMNO_C_ALUMNO_CL_CLASE]
GO
/****** Object:  ForeignKey [FK_CARRERA__CARRERA_R_CARRERA]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[CARRERA_RAMO]  WITH CHECK ADD  CONSTRAINT [FK_CARRERA__CARRERA_R_CARRERA] FOREIGN KEY([ID_CARRERA])
REFERENCES [dbo].[CARRERA] ([ID_CARRERA])
GO
ALTER TABLE [dbo].[CARRERA_RAMO] CHECK CONSTRAINT [FK_CARRERA__CARRERA_R_CARRERA]
GO
/****** Object:  ForeignKey [FK_CARRERA__CARRERA_R_RAMO]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[CARRERA_RAMO]  WITH CHECK ADD  CONSTRAINT [FK_CARRERA__CARRERA_R_RAMO] FOREIGN KEY([ID_RAMO])
REFERENCES [dbo].[RAMO] ([ID_RAMO])
GO
ALTER TABLE [dbo].[CARRERA_RAMO] CHECK CONSTRAINT [FK_CARRERA__CARRERA_R_RAMO]
GO
/****** Object:  ForeignKey [FK_CLASE_CARRERA_C_CARRERA]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[CLASE]  WITH CHECK ADD  CONSTRAINT [FK_CLASE_CARRERA_C_CARRERA] FOREIGN KEY([ID_CARRERA])
REFERENCES [dbo].[CARRERA] ([ID_CARRERA])
GO
ALTER TABLE [dbo].[CLASE] CHECK CONSTRAINT [FK_CLASE_CARRERA_C_CARRERA]
GO
/****** Object:  ForeignKey [FK_CLASE_MODULOSAL_MODULO_S]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[CLASE]  WITH CHECK ADD  CONSTRAINT [FK_CLASE_MODULOSAL_MODULO_S] FOREIGN KEY([ID_MODULO_SALA])
REFERENCES [dbo].[MODULO_SALA] ([ID_MODULO_SALA])
GO
ALTER TABLE [dbo].[CLASE] CHECK CONSTRAINT [FK_CLASE_MODULOSAL_MODULO_S]
GO
/****** Object:  ForeignKey [FK_CLASE_RAMOPROFE_RAMO_POF]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[CLASE]  WITH CHECK ADD  CONSTRAINT [FK_CLASE_RAMOPROFE_RAMO_POF] FOREIGN KEY([ID_RAMO_PROFE])
REFERENCES [dbo].[RAMO_PROFESOR] ([ID_RAMO_PROFE])
GO
ALTER TABLE [dbo].[CLASE] CHECK CONSTRAINT [FK_CLASE_RAMOPROFE_RAMO_POF]
GO
/****** Object:  ForeignKey [FK_HISTORIA_CLASE_HIS_CLASE]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[HISTORIAL_CURSO]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIA_CLASE_HIS_CLASE] FOREIGN KEY([ID_CLASE])
REFERENCES [dbo].[CLASE] ([ID_CLASE])
GO
ALTER TABLE [dbo].[HISTORIAL_CURSO] CHECK CONSTRAINT [FK_HISTORIA_CLASE_HIS_CLASE]
GO
/****** Object:  ForeignKey [FK_HISTORIA_ECLASE_HI_ESTADO_C]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[HISTORIAL_CURSO]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIA_ECLASE_HI_ESTADO_C] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO_CLASE] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[HISTORIAL_CURSO] CHECK CONSTRAINT [FK_HISTORIA_ECLASE_HI_ESTADO_C]
GO
/****** Object:  ForeignKey [FK_MODULO_S_MODULO_SA_MODULO]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[MODULO_SALA]  WITH CHECK ADD  CONSTRAINT [FK_MODULO_S_MODULO_SA_MODULO] FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[MODULO] ([ID_MODULO])
GO
ALTER TABLE [dbo].[MODULO_SALA] CHECK CONSTRAINT [FK_MODULO_S_MODULO_SA_MODULO]
GO
/****** Object:  ForeignKey [FK_MODULO_S_MODULO_SA_SALA]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[MODULO_SALA]  WITH CHECK ADD  CONSTRAINT [FK_MODULO_S_MODULO_SA_SALA] FOREIGN KEY([ID_SALA])
REFERENCES [dbo].[SALA] ([ID_SALA])
GO
ALTER TABLE [dbo].[MODULO_SALA] CHECK CONSTRAINT [FK_MODULO_S_MODULO_SA_SALA]
GO
/****** Object:  ForeignKey [FK_RAMO_POF_RAMO_POFE_PROFESOR]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[RAMO_PROFESOR]  WITH CHECK ADD  CONSTRAINT [FK_RAMO_POF_RAMO_POFE_PROFESOR] FOREIGN KEY([ID_PROFESOR])
REFERENCES [dbo].[PROFESOR] ([ID_PROFESOR])
GO
ALTER TABLE [dbo].[RAMO_PROFESOR] CHECK CONSTRAINT [FK_RAMO_POF_RAMO_POFE_PROFESOR]
GO
/****** Object:  ForeignKey [FK_RAMO_POF_RAMO_POFE_RAMO]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[RAMO_PROFESOR]  WITH CHECK ADD  CONSTRAINT [FK_RAMO_POF_RAMO_POFE_RAMO] FOREIGN KEY([ID_RAMO])
REFERENCES [dbo].[RAMO] ([ID_RAMO])
GO
ALTER TABLE [dbo].[RAMO_PROFESOR] CHECK CONSTRAINT [FK_RAMO_POF_RAMO_POFE_RAMO]
GO
/****** Object:  ForeignKey [FK_RAMO_SEC_RAMO_SECC_RAMO]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[RAMO_SECCION]  WITH CHECK ADD  CONSTRAINT [FK_RAMO_SEC_RAMO_SECC_RAMO] FOREIGN KEY([ID_RAMO])
REFERENCES [dbo].[RAMO] ([ID_RAMO])
GO
ALTER TABLE [dbo].[RAMO_SECCION] CHECK CONSTRAINT [FK_RAMO_SEC_RAMO_SECC_RAMO]
GO
/****** Object:  ForeignKey [FK_RAMO_SEC_RAMO_SECC_SECCION]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[RAMO_SECCION]  WITH CHECK ADD  CONSTRAINT [FK_RAMO_SEC_RAMO_SECC_SECCION] FOREIGN KEY([ID_SECCION])
REFERENCES [dbo].[SECCION] ([ID_SECCION])
GO
ALTER TABLE [dbo].[RAMO_SECCION] CHECK CONSTRAINT [FK_RAMO_SEC_RAMO_SECC_SECCION]
GO
/****** Object:  ForeignKey [FK_SECCION__SECCION_M_MODULO]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[SECCION_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_SECCION__SECCION_M_MODULO] FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[MODULO] ([ID_MODULO])
GO
ALTER TABLE [dbo].[SECCION_MODULO] CHECK CONSTRAINT [FK_SECCION__SECCION_M_MODULO]
GO
/****** Object:  ForeignKey [FK_SECCION__SECCION_M_SECCION]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[SECCION_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_SECCION__SECCION_M_SECCION] FOREIGN KEY([ID_SECCION])
REFERENCES [dbo].[SECCION] ([ID_SECCION])
GO
ALTER TABLE [dbo].[SECCION_MODULO] CHECK CONSTRAINT [FK_SECCION__SECCION_M_SECCION]
GO
/****** Object:  ForeignKey [FK_SECCION__SECCION_P_PROFESOR]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[SECCION_PROFESOR]  WITH CHECK ADD  CONSTRAINT [FK_SECCION__SECCION_P_PROFESOR] FOREIGN KEY([ID_PROFESOR])
REFERENCES [dbo].[PROFESOR] ([ID_PROFESOR])
GO
ALTER TABLE [dbo].[SECCION_PROFESOR] CHECK CONSTRAINT [FK_SECCION__SECCION_P_PROFESOR]
GO
/****** Object:  ForeignKey [FK_SECCION__SECCION_P_SECCION]    Script Date: 06/08/2017 02:16:49 ******/
ALTER TABLE [dbo].[SECCION_PROFESOR]  WITH CHECK ADD  CONSTRAINT [FK_SECCION__SECCION_P_SECCION] FOREIGN KEY([ID_SECCION])
REFERENCES [dbo].[SECCION] ([ID_SECCION])
GO
ALTER TABLE [dbo].[SECCION_PROFESOR] CHECK CONSTRAINT [FK_SECCION__SECCION_P_SECCION]
GO
